h1 {
  color: red;
  font-size: 4em;
  margin: 0;
  border-bottom: 2px dashed black;
}

p {
  color: #003366;
  font-size: .9em;
  line-height: 150%;
  margin-top: 0;
  margin-left: 25px;
}

  h2 {
    color: #000000;
    margin-bottom: 0;
    padding: 5px 0px 3px 25px;
    overflow: hidden;
  }

  p.tip:before {
    content: "ПОДСКАЗКА!  ";
  }

  li:first-child {
    font-weight: bold;
  }

  .note {
    font-size: .85em;
    color: #294e56;
    margin: 0 300px;
    padding: 10px;
    border: 1px solid #73afb7;
    background-color: #fbef99;
  }

  #wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
  }

  body {
    color: #102536;
    font-size: 62,5%;
    background-color: #f8faf1;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .sidebar {
    width: 100px;
    float: right;
    margin: 10px;
    border: solid 1px #fdd041;
    border-top-width: 5px;
    padding: 10px;
    background-color: #fbef99;
  }

  .figure {
    float: right;
    border: 1px solid #666;
    padding: 10px;
  }

  ul .nav li {
    display: inline;
    border: 1px dashed #000;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    background-color: #EAEAEA;
    text-decoration: none;
    color: #333;
  }

  .label {
    float: left;
    width: 20em;
    text-align: right;
    clear: left;
    margin-right: 15px;
  }

  .sidebar-2 {
    display: grid;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    border: solid 1px #fdd041;
    border-top-width: 5px;
    padding: 10px;
    background-color: #fbef99;
  }